@import "variables";

mat-toolbar {
  margin-bottom: $tm-spacing * 2;

  a,
  span {
    margin-right: 1em;
  }

  span.spacer {
    margin-left: 20px;
    margin-right: 20px;
  }

  span.brand {
    margin-right: $tm-spacing * 2;
  }

  span.label {
    font-size: 0.75em;
    color: #dddddd;
  }

  span.middle {
    flex: 1 1 auto;
  }

  span.right {
    small {
      vertical-align: text-top;
    }
  }

  a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 0.75em;
    color: white;
    text-decoration: none;
  }
}
