@import "variables";

mat-toolbar {
  margin-bottom: $tm-spacing * 2;

  span.brand {
    margin-right: $tm-spacing * 2;
  }

  span.middle {
    flex: 1 1 auto;
  }

  span.right {
    small {
      vertical-align: text-top;
    }
  }

  a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin-right: 1em;
  }
}
