<mat-toolbar color="primary" class="mat-elevation-z8">
  <span class="left">
    <span class="brand">Timesheet-Manager</span>
    <a routerLink="/">Feuille de temps</a>
    <a routerLink="/">Administration</a>
    <a routerLink="/">Rapports</a>
  </span>
  <span class="middle"></span>
  <span class="right">
    <small *ngIf="whoami | async as user">
      {{ user.firstName }} {{ user.lastName }}
    </small>
    <button mat-icon-button (click)="logout()">
      <mat-icon matTooltip="Déconnexion">meeting_room</mat-icon>
    </button>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>
