<mat-card class="main-card">
  <mat-card-title>
    Feuilles de temps
  </mat-card-title>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <nav mat-tab-nav-bar>
        <a
          mat-tab-link
          (click)="selectUserGroup('active')"
          [active]="selectedUserGroup === userGroups.get('active')"
        >
          <mat-icon [ngClass]="userGroups.get('active')?.iconClass">
            {{ userGroups.get("active")?.icon }}
          </mat-icon>
          {{ userGroups.get("active")?.label }}
        </a>
        <a
          mat-tab-link
          (click)="selectUserGroup('inactive')"
          [active]="selectedUserGroup === userGroups.get('inactive')"
        >
          <mat-icon [ngClass]="userGroups.get('inactive')?.iconClass">
            {{ userGroups.get("inactive")?.icon }}
          </mat-icon>
          {{ userGroups.get("inactive")?.label }}
        </a>
      </nav>
      <nav mat-tab-nav-bar>
        <a
          mat-tab-link
          *ngFor="let user of selectedUserGroup?.users"
          (click)="selectUser(user)"
          [active]="selectedUser === user"
        >
          <mat-icon
            [class.user-active]="user.isActive"
            [class.user-inactive]="!user.isActive"
          >
            {{ user.isActive ? "person" : "lens" }}
          </mat-icon>
          {{ user.firstName }} {{ user.lastName }}
        </a>
      </nav>
      <tm-timesheet-list-table
        [timesheets]="selectedUser?.timesheets"
      ></tm-timesheet-list-table>
      <mat-paginator
        class="table-paginator"
        [length]="selectedUserTotalTimesheets"
        [pageSize]="10"
        [pageSizeOptions]="[10, 20, 50]"
        (page)="pageChanged($event)"
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
